<div class=" w-18 border-blue-800 border-t-2 mt-[75px]">
  <nav class=" bg-white py-4">
    <div class="w-full mx-auto px-1 sm:px-4 max-w-screen-xl flex mb-10">
      <div class=" mx-auto px-4 max-w-screen-xl flex flex-wrap text-start justify-between">
        <div class="lg:w-1/5  w-[50%] mb-3">
          <div class="font-bold text-base mb-4">Hỗ trợ Khách hàng</div>
          <a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Thẻ ưu đãi</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Hướng dẫn mua online</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Ưu đãi dành cho Doanh nghiệp</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Chính sách trả góp</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Dịch vụ sửa chữa</a
          >
        </div>
        <div class="lg:w-1/5  w-[50%] mb-3">
          <div class="font-bold text-base mb-4">Chính sách mua hàng</div>
          <a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Điều kiện giao dịch chung</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Chính sách bảo hành</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Chính sách đổi trả</a
          ><a
            href="#"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Chính sách thanh toán</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Giao hàng và Lắp đặt tại nhà</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Dịch vụ lắp đặt và nâng cấp PC/ Laptop tại cửa hàng &amp; TTBH</a
          >
        </div>
        <div class="lg:w-1/5  w-[50%] mb-3">
          <div class="font-bold text-base mb-4">Thông tin</div>
          <a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Giới thiệu</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Hệ thống cửa hàng</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Trung tâm bảo hành</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Chính sách bảo mật</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Tin công nghệ</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Hỏi đáp</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            >Tuyển dụng</a
          >
        </div>
        <div class="lg:w-1/5  w-[50%] mb-3">
          <div class="font-bold text-base mb-4">Cộng đồng</div>
          <div class="text-xs w-full pt-1.5 pr-1.5">
            Gọi mua hàng (miễn phí)<a href="#" class="text-red-500 ml-1">18006867</a>
          </div>
          <div class="text-xs w-full pt-1.5 pr-1.5">
            Gọi chăm sóc<a href="#" class="text-red-500 ml-1">18006865</a>
          </div>
          <a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            ><span
              size="16"
              color="#485992"
              class="inline-block w-4 h-4 bg-center bg-contain bg-no-repeat"
              style="
                background-image: url('https://shopfront-cdn.tekoapis.com/static/4a245cee42ae6bbb.svg');
              "
            ></span>
            <div class="w-1/25 h-1/25 ml-2"></div>
            Facebook</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            ><span
              size="16"
              color="#cf2200"
              class="inline-block w-4 h-4 bg-center bg-contain bg-no-repeat"
              style="
                background-image: url('https://shopfront-cdn.tekoapis.com/static/2d3d889a92325278.svg');
              "
            ></span>
            <div class="w-1/25 h-1/25 ml-2"></div>
           Media</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            ><span
              size="16"
              color="#00AFF7"
              class="inline-block w-4 h-4 bg-center bg-contain bg-no-repeat"
              style="
                background-image: url('https://shopfront-cdn.tekoapis.com/static/c71967f1b568ff35.svg');
              "
            ></span>
            <div class="w-1/25 h-1/25 ml-2"></div>
           Hội</a
          ><a
            href="#"
            target="_blank"
            rel="noreferrer noopener"
            class="cursor-pointer rounded-md overflow-hidden leading-4 p-1.5 inline-flex items-center bg-transparent border-transparent border-1 border-solid select-none flex-row relative w-full text-xs text-gray-700 text-left no-underline"
            ><span
              size="16"
              color="#0573ff"
              class="inline-block w-4 h-4 bg-center bg-contain bg-no-repeat"
              style="
                background-image: url('https://shopfront-cdn.tekoapis.com/static/20f9b470a01bcc4e.svg');
              "
            ></span>
            <div class="w-1/25 h-1/25 ml-2"></div>
            OA (zalo)</a
          >
        </div>
        <div class="lg:w-1/5  w-[50%] mb-3">
          <div class="font-bold text-base mb-4">Email liên hệ</div>
          <div class="text-xs w-full pt-1.5 pr-1.5">
            Hỗ trợ Khách hàng:<br />
            <a href="#" class="text-red-500">cskh.vn</a>
          </div>
          <div class="text-xs w-full pt-1.5 pr-1.5">
            Liên hệ báo giá:<br />
            <a href="#" class="text-red-500">baogia.vn</a>
          </div>
          <div class="text-xs w-full pt-1.5 pr-1.5">
            Hợp tác phát triển:<br />
            <a href="#" class="text-red-500">hoptac.vn</a>
          </div>
        </div>
      </div>
      
    </div>
  </nav>
  <nav class="p-30 pt-0 bg-gray-200">
    <div class="w-full mx-auto px-4 max-w-screen-xl flex">
      <div class="box-border m-0 min-w-0 flex-wrap flex w-full lg:h-[170px] h-[305px]">
        <div class="lg:w-96 w-full mt-5">
          <div class="text-xs uppercase font-bold mb-15">
            Công ty cổ phần thương mại - dịch vụ
          </div>
          <div class="text-xs mt-2 w-full pr-8">
            <div>© 1997 - 2020 Công Ty Cổ Phần Thương Mại - Dịch Vụ</div> 
            <div class="mt-1">Giấy chứng nhận đăng ký doanh nghiệp: 0304998358 do Sở KH-ĐT TP.HCM cấp lần
            đầu ngày 30 tháng 05 năm 2007</div>
          </div>
        </div>
        <div class="lg:w-auto w-full mt-3">
          <div>
            <span class="text-xs font-bold">Địa chỉ trụ sở chính</span>:
            <div class="text-xs w-full pr-8">
              Tầng 5, Số 117-119-121 Nguyễn Du, Phường Bến Thành, Quận 1, Thành
              Phố Hồ Chí Minh
            </div>
          </div>
          <div>
            <span class="text-xs font-bold">Văn phòng điều hành miền Bắc</span>:
            <div class="text-xs w-full pr-8">
              Tầng 6, Số 1 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà Nội
            </div>
          </div>
          <div>
            <span class="text-xs font-bold">Văn phòng điều hành miền Nam</span>:
            <div class="text-xs w-full pr-8">
              677/2A Điện Biên Phủ, Phường 25 , Quận Bình Thạnh , TP. Hồ Chí Minh
            </div>
          </div>
        </div>
        <div class="lg:w-auto lg:pt-0 pt-3 lg:block flex w-full mt-3 items-center justify-content-between lg:ml-10">
          <a href="#" rel="noreferrer noopener" target="_blank" class="block mr-2 "
            ><img
              src="https://shopfront-cdn.tekoapis.com/common/da-dang-ky.png"
              alt="verified logo"
              class="w-full max-w-[140px]"
          /></a>
          <div class="mt-2 w-full max-w-[100px]">
            <a href="#" title="DMCA.com Protection Status" class="dmca-badge"
              ><img
                src="https://images.dmca.com/Badges/dmca-badge-w100-2x1-02.png?ID=53b44883-ed2a-434d-902b-5adce10aafd5"
                alt="DMCA.com Protection Status"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
</div>